# Python-Einf端hrung
## Basics
Markdownzelle f端r Kommentare

In [1]:
print ("Hello World")

Hello World

## Kommentare

In [2]:
# Kommentar
print ("Hello World")

Hello World

## Einfache Datentypen

In [3]:
# Variablen und Wertezuweisung (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [4]:
# Integer = Ganzzahl
age = 73
print(age)

73

In [5]:
# Float = Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [6]:
# Bolean = Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [7]:
# Welcher Datentyp?
type(name)

str

In [8]:
print(name)
print(age)

Hawking
73

## Operatoren

In [9]:
5 + 5

10

In [10]:
5 x 5

SyntaxError: invalid syntax (<ipython-input-10-6f317c9a2c02>, line 1)

In [11]:
age * 100

7300

In [12]:
name * 5

'HawkingHawkingHawkingHawkingHawking'

In [13]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [14]:
name + "10"

'Hawking10'

In [15]:
type(size)

float

In [16]:
size/age

0.023456164383561642

In [17]:
number_of_articles = "50"

In [18]:
# wird nicht 端berschrieben; gilt nur f端r die eine Zeile
int(number_of_articles) / 10

5.0

In [19]:
type(number_of_articles)

str

In [20]:
# gibt alle definierten Variablen aus
%who

age	 is_scientist	 name	 number_of_articles	 size

In [21]:
zahl = "10"
int(zahl)
type(zahl)

str

## Funktionen und Methoden

In [22]:
len(name)

7

In [23]:
name.upper()

'HAWKING'

In [24]:
name = name.upper()
print(name)

HAWKING

In [25]:
name.replace("W", "www")

'HAwwwKING'

In [26]:
first_name = "Anna"

In [27]:
first_name.count("A")

1

In [28]:
first_name + name

'AnnaHAWKING'

In [28]:
first_name + name

'AnnaHAWKING'

In [29]:
first_name + " " * name

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
first_name + " " + name

'Anna HAWKING'

## Listen

In [31]:
names = ["Darwin", "Hawking", "Curie"]

In [32]:
names[1]

'Hawking'

In [33]:
names[0]

'Darwin'

In [34]:
len(names)

3

In [35]:
names[-1]

'Curie'

In [36]:
names[0:2]

['Darwin', 'Hawking']

In [37]:
names[:2]

['Darwin', 'Hawking']

In [38]:
slice_value = 2

In [39]:
names[slice_value]

'Curie'

In [40]:
names[:slice_value]

['Darwin', 'Hawking']

In [41]:
names[slice_value:]

['Curie']

## Dictionaries

In [44]:
authors_and_ages = {"Darwin": 73,
                    "Goethe": 83,
                    "Lovecraft": 50}

In [43]:
authors_and_ages["Darwin"]

73

In [45]:
names.append("Kleist")

In [46]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [47]:
authors_and_ages["Rowling"] = 53

In [48]:
authors_and_ages

{'Darwin': 73, 'Goethe': 83, 'Lovecraft': 50, 'Rowling': 53}

## for-Schleife

In [49]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [50]:
for name in names:
    print (name + "is a great name")

Darwinis a great name
Hawkingis a great name
Curieis a great name
Kleistis a great name

In [51]:
for name in names:
    print (name + " " + "is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

In [52]:
names.remove?

## Bedingte Anweisungen (Conditionals)

In [55]:
temp = 10
if temp > 15:
    print("It's warm")

In [57]:
10 < 15

True

In [58]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [62]:
temp = 15
if temp > 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's warm